{% extends "layout.html" %}

{% block content %}
<h3>{{title}}</h3>
{% if add_func_name %}
<a class="btn btn-lg btn-outline-dark" href="{{url_for(add_func_name)}}">Add </a>
{% endif %}
{% if summary_records %}
<div class="container" width="50%">
<table class="table table-hover" width="50%">
  <thead>
    <th>Name</th>
    <th>Value</th>
  </thead>
<tbody>
  {% for summary_record in summary_records %}
  <tr>
      <td>{{summary_record.description}}</td>
    {% if summary_record.type == "numeric" %}
      <td>{{ "{:,.2f}".format(summary_record.value) }}</td>
    {% elif summary_record.type == "date" or summary_record.type == "datetime" %}
      <td>{{moment(summary_record.value).format('LLL')}}</td>
    {% else %}
      <td>{{summary_record.value}}</td>
    {% endif %}    
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

<table class="table table-hover orderByDateTable">
  <thead order_col_no="{{order_by_col_no}}">
    {% for col in col_names %}
    <th scope="col">{{col.description}}</th>
    {% endfor %}    
    <th></th>
    <th></th>
    {% for extra_func in extra_funcs %}
    <th></th>
    {% endfor %}
  </thead>
  <tbody>
    {% for record in records %}
    <tr class="{% if success_col_name %}{% if record[success_col_name]==True %} table-success {% endif %}{% endif %}">
        {% for col in col_names %}
            {% if col.type == 'numeric' %}
                <td>{{ "{:,}".format(record[col.db_name]) }}</td>            
            {% else %}
                <td>{{record[col.db_name]}}</td>
            {% endif %}        
        {% endfor %}
        {% if remove_func_name %}
        <td><a href="{{url_for(remove_func_name,id=record.id)}}" class="btn btn-lg btn-dark"><i class="far fa-trash-alt"></i></a></td>
        {% endif %}
        {% if edit_func_name %}
        <td><a href="{{url_for(edit_func_name,id=record.id)}}" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></a></td>
        {% endif %}
        {% for extra_func in extra_funcs %}
        <td><a href="{{url_for(extra_func['name'],**{extra_func['var_name']:extra_func['processing_func'](getattr(record,extra_func['db_col_name']))})}}" class="btn btn-lg btn-dark">{{extra_func['link_name']}}</a></td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
