{% extends "layout.html" %}

{% block content %}

<div class="container">

  <h3>Hisob kitob</h3>


  <div class="form-group">
    <input class="form-control" type="number" id="received_money" name="received_money" pattern="[0-9]" value="" placeholder="received money">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" id="fx_rate" name="fx_rate" value="" placeholder="fx rate">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" id="weight" name="weight" value="" placeholder="weight">
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-dark" type="submit" name="button">Calculate</button>
  </div>

  <div class="price"></div>

</div>
<script type="text/javascript">
  $("button").on("click", function() {
    var received_money = Number($("#received_money").val());
    var fx_rate = Number($("#fx_rate").val());
    var weight = Number($("#weight").val());
    var result = received_money * fx_rate + (weight * 1500);
    $(".price").html(new Intl.NumberFormat('ja-JP', {
      style: 'currency',
      currency: 'JPY'
    }).format(result));
  });
</script>
{% endblock %}
