{% extends "layout.html" %}

{% block content %}
<h3>{{title}}</h3>
<ul class="list-group">
  <li class="list-group-item list-group-item-warning">Total amount in jpy : {{ "{:,}".format(total_amount) }}</li>
</ul>
<a class="btn btn-lg btn-dark" href="/admin/add_transferral">Add transferral</a>
<table class="table">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Amount (JPY)</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{record.date}}</td>
      <td>{{ "{:,}".format(record.amount) }}</td>
      <td><a href="/admin/remove_transferral/{{record.id}}" class="btn btn-lg btn-dark"><i class="far fa-trash-alt"></i></a></td>
      <td><a href="/admin/edit_transferral/{{record.id}}" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
