[Unit]
Description=uWSGI occasion to serve myproject
After=community.goal

[Service]
Person=root
Group=www-data
WorkingDirectory=/var/www/jspanda_business
ExecStart=/root/.pyenv/shims/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.goal