{% extends "layout.html" %}

{% block content %}

<h3>{{title}}</h3>

<ul class="list-group">
  <li class="list-group-item list-group-item-warning">Total amount : {{ "{:,.2f}".format(total_stock_amount) }}</li>
</ul>

<input type="text" id="myInput" onkeyup="tableSearch()" placeholder="Search for names.." title="Type in a name">

<table class="table table-hover" id="myTable">
  <thead>
    <th>Product Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Extra</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for i,row in stock_df.iterrows() %}
    <tr>
      <td>{{ row['product_name'] }}</td>
      <td>{{ row['category']}}</td>
      <td>{{row['price']}}</td>
      <td>{{row['quantity']}}</td>
      <td>{{row['extra_info']}}</td>
      <td><a href="/remove_jspanda_stock/{{row['id']}}" class="btn btn-lg btn-dark"><i class="far fa-trash-alt"></i></a></td>
      <td><a href="/edit_jspanda_stock/{{row['id']}}" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
