{% extends "layout.html" %}

{% block content %}
<h2>{{adate}}</h2>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th></th>
  </thead>
  <tbody>
    {% for i,row in spending_df.iterrows() %}
    <tr class="{% if row['name']=='balance' %} table-primary {% endif %}">
      <td>{{row['name']}}</td>
      {% if row['amount']>0 %}
      <td class="positive-numeric">{{"{:,}".format(row['amount'])}}</td>
      {% else %}
      <td class="negative-numeric">{{"{:,}".format(row['amount'])}}</td>
      {% endif %}
      <td><a href="/family_spending_edit/{{row['id']}}" class="btn btn-dark"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
    {% for key,value in summary.items() %}
    <tr class="{% if key=='balance' %} table-primary {% endif %}">
      <td>{{key}}</td>
      {% if value>0 %}
        <td class="positive-numeric">{{"{:,}".format(value)}}</td>
      {% else %}
        <td class="negative-numeric">{{"{:,}".format(value)}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
