{% extends "layout.html" %}

{% block content %}
<h3>{{title}}</h3>
<p>Total amount in jpy : {{ "{:,}".format(total_amount) }}</p>
<a class="btn btn-lg btn-outline-dark" href="/admin/add_jpost_spending">Add yubin spending</a>
<table class="table table-hover orderByDateTable">
  <thead order_col_no="0">
    <th scope="col">Date</th>
    <th scope="col">Order Date</th>
    <th scope="col">Amount</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{record.date}}</td>
      <td>{{record.order_date}}</td>
      <td>{{ "{:,}".format(record.amount) }}</td>
      <td><a href="/admin/remove_jpost_spending/{{record.id}}" class="btn btn-lg btn-dark"><i class="far fa-trash-alt"></i></a></td>
      <td><a href="/admin/edit_jpost_spending/{{record.id}}" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
