{% extends "layout.html"%}

{% block content %}
<ul>
  <li>
    <a href="/admin/show_received_money">Show received money</a>
  </li>
  <li>
    <a href="/admin/add_received_money">Add received money</a>
  </li>
</ul>

<ul>
  <li>
    <a href="/admin/show_shipment_spending">Show shipment spending</a>
  </li>
  <li>
    <a href="/admin/add_shipment_spending">Add shipment spending</a>
  </li>
</ul>

<ul>
  <li>
    <a href="/admin/show_visa_spending">Show visa spending</a>
  </li>
  <li>
    <a href="/admin/add_visa_spending">Add visa spending</a>
  </li>
</ul>
{% endblock %}
