{% extends "layout.html"%}

{% block content %}
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/show_shipment_weight">Show shipment weight</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/add_shipment_weight">Add shipment weight</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/show_all_shipment_weights">Show all shipment weights</a>
    </li>
  </ul>
</div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/show_received_money">Show received money</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/add_received_money">Add received money</a>
    </li>
  </ul>
</div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/show_shipment_spending">Show shipment spending</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/add_shipment_spending">Add shipment spending</a>
    </li>
  </ul>
</div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/show_visa_spending">Show visa spending</a>
    </li>
    <li class="list-group-item">
      <a class="btn btn-lg" href="/admin/add_visa_spending">Add visa spending</a>
    </li>
  </ul>
</div>
{% endblock %}
