{% extends "layout.html"%}

{% block content %}

<div class="container">
  <h3>Show summary</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_summary">Show summary</a>
  </div>
</div>

<div class="container">
  <h3>Received money</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_received_money">Show received money</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_received_money">Add received money</a>
  </div>
</div>

<div class="container">
  <h3>Shipment weights</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_shipment_weight">Show shipment weight</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_shipment_weight">Add shipment weight</a>
    <a class="list-group-item list-group-item-action" href="/admin/show_shipment_weights_by_date">Show shipment weights by date</a>
    <a class="list-group-item list-group-item-action" href="/admin/show_all_shipment_weights">Show all shipment weights</a>
  </div>
</div>

<div class="container">
  <h3>Yubin spendings</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_jpost_spending">Show yubin spendings</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_jpost_spending">Add yubin spendings</a>
  </div>

</div>

<div class="container">
  <h3>Actual Shipment spendings</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_shipment_spending">Show shipment spending</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_shipment_spending">Add shipment spending</a>
  </div>
</div>

<div class="container">
  <h3>Visa spendings</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_visa_spending">Show visa spending</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_visa_spending">Add visa spending</a>
  </div>
</div>

<div class="container">
  <h3>Transferrals</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/show_transferrals">Show transferrals</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_transferral">Add transferral</a>
  </div>
</div>

<div class="container">
  <h3>Monthly Family Spending</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="/admin/family_spending_main">Family Spending main</a>
    <a class="list-group-item list-group-item-action" href="/admin/add_family_spending">Add family spending</a>
  </div>
</div>
{% endblock %}
