{% extends "layout.html" %}

{% block content %}
<table class="table table-hover">
<thead>
  <th scope="col">date</th>
  <th>balance</th>
  <th>saitama liabilities</th>
  <th>saitama new balance</th>
  <th>mitsubishi liabilities</th>
  <th>mitsubishi new balance</th>
  <th></th>
</thead>
<tbody>
  {% for i,row in spending_df.iterrows() %}
    <tr>
      <td>{{i}}</td>
      <td class="{% if row['balance']<0 %} negative-numeric {% else %} positive-numeric {% endif %}">{{"{:,}".format(row['balance'])}}</td>
      <td class="{% if row['saitama_liabilities']<0 %} negative-numeric {% else %} positive-numeric {%endif%}">{{"{:,}".format(row['saitama_liabilities'])}}</td>
      <td class="{% if row['saitama_new_balance']<0%} negative-numeric {%else%} positive-numeric {%endif%}">{{"{:,}".format(row['saitama_new_balance'])}}</td>
      <td class="{% if row['mitsubishi_liabilities']<0%} negative-numeric {% else %} positive-numeric {%endif%}">{{"{:,}".format(row['mitsubishi_liabilities'])}}</td>
      <td class="{%if row['mitsubishi_new_balance']<0%} negative-numeric {%else%} positive-numeric {%endif%}">{{"{:,}".format(row['mitsubishi_new_balance'])}}</td>
      <td>
        <a href="/admin/family_spending_by_month/{{i}}" class="btn btn-lg btn-dark">View</a>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
