{% extends "layout.html" %}
{% block content %}

<h3>{{title}}</h3>

<div class="add_jspanda_order">
  <a class="btn btn-lg btn-dark" href="/add_jspanda_order/{{adate}}">Add jspanda order</a>
</div>

<ul class="list-group">
  <li class="list-group-item">Product cost : {{ "{:,.2f}".format(total_cost) }}</li>
  <li class="list-group-item">Shipment cost : {{ "{:,.2f}".format(total_shipment_spending) }}</li>
  <li class="list-group-item">Yubin cost : {{ "{:,.2f}".format(total_yubin_spending) }}</li>
  <li class="list-group-item list-group-item-warning">Total cost : {{ "{:,.2f}".format(total_cost+total_shipment_spending+total_yubin_spending) }}</li>
  <li class="list-group-item">Total order sum : {{ "{:,.2f}".format(total_order_sum) }}</li>
  <li class="list-group-item">Profit : {{ "{:,.2f}".format(profit) }}</li>
</ul>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Cost</th>
    <th>Order sum</th>
    <th>Ordered by</th>
    <th>Extra notes</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for record in records %}
    <tr class="{% if record.is_received %} table-success {% endif %}">
      <td>{{record.name}}</td>
      <td>{{record.price}}</td>
      <td>{{record.quantity}}</td>
      <td>{{record.total_cost}}</td>
      <td>{{record.order_sum}}</td>
      <td>{{record.ordered_by}}</td>
      <td>{{record.extra_notes}}</td>
      <td><a class="btn btn-lg btn-dark" href="/mark_jspanda_order_as_received_or_nonreceived/{{record.id}}">{% if record.is_received %} <i class="far fa-check-square"></i> {% else %} <i class="fas fa-check-square"></i> {% endif %}</a></td>
      <td><a href="/remove_jspanda_order/{{record.id}}" class="btn btn-lg btn-dark"><i class="far fa-trash-alt"></i></a></td>
      <td><a href="/edit_jspanda_order/{{record.id}}" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
