{% extends "layout.html" %}
{% block content %}

<h3>{{title}}</h3>

<ul class="list-group">
  <li class="list-group-item">Pending product cost : {{ "{:,.2f}".format(pending_product_cost) }}</li>
  <li class="list-group-item">Pending shipment cost : {{ "{:,.2f}".format(pending_shipment_cost) }}</li>
  <li class="list-group-item">Pending yubin cost : {{ "{:,.2f}".format(pending_yubin_cost) }}</li>
  <li class="list-group-item list-group-item-warning">Pending total cost : {{ "{:,.2f}".format(pending_total_cost) }}</li>
</ul>

<table class="table table-hover orderByDateTable">
  <thead order_col_no="0">
    <th>YearMonth</th>
    <th>Product cost</th>
    <th>Shipment cost</th>
    <th>Yubin cost</th>
    <th>Total cost</th>
    <th>Order sum</th>
    <th>Profit</th>    
  </thead>
  <tbody>
    {% for i,row in monthly_jspanda_orders_df.iterrows() %}
    <tr>
      <td>{{i}}</td>
      <td>{{ "{:,.2f}".format(row['total_cost']) }}</td>
      <td>{{ "{:,.2f}".format(row['total_shipment_spending_usd']) }}</td>
      <td>{{ "{:,.2f}".format(row['jpost_amount_usd']) }}</td>
      <td>{{ "{:,.2f}".format(row['jpost_amount_usd']+row['total_cost']+row['total_shipment_spending_usd']) }}</td>
      <td>{{ "{:,.2f}".format(row['order_sum']) }}</td>
      <td>{{ "{:,.2f}".format(row['profit']) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
