{% extends "layout.html" %}
{% block content %}

<h3>{{title}}</h3>

<ul class="list-group">
  <li class="list-group-item">Не оплаченный себестоимость : {{ "{:,.2f}".format(pending_product_cost) }}</li>
</ul>

<table class="table table-hover orderByDate">
  <thead>
    <th>Дата отправки</th>
    <th>Общая себестоимость</th>
    <th>Общий доход</th>
    <th>Общий прибыл</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for i,row in orders_shipment_mrg_df.iterrows() %}
    <tr class="{% if row['is_paid']==1%} table-success {% endif %}">
      <td>{{i}}</td>
      <td>{{ "{:,.2f}".format(row['total_cost_na_prodaju']) }}</td>
      <td>{{ "{:,.2f}".format(row['order_sum_na_prodaju']) }}</td>
      <td>{{ "{:,.2f}".format(row['profit_na_prodaju']) }}</td>
      <td>
        <a class="btn btn-lg btn-dark" href="/jspanda_orders_by_date_na_prodaju/{{i}}">View</a>
      </td>
      <td>
        <a class="btn btn-lg btn-dark" href="/mark_jspanda_orders_as_paid_or_nonpaid_by_date/{{i}}">{% if row['is_paid'] != 1 %}Close{% else %} Reopen {% endif %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
