{% extends "layout.html" %}

{% block content %}
<h3>{{title}}</h3>
<p>Total amount in jpy : {{ "{:,}".format(total_amount) }}</p>
<table class="table">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Amount (JPY)</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for date,row in visa_df.iterrows() %}
    <tr>
      <td>{{date}}</td>
      <td>{{ "{:,}".format(row['amount']) }}</td>
      <td><a class="btn btn-lg btn-dark" href="/admin/show_visa_spending_by_date/{{date}}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
