{% extends "layout.html" %}

{% block content %}
<h3>{{title}}</h3>
<ul class="list-group">
  <li class="list-item">Total amount in usd : {{ "{:,}".format(total_amount_usd) }}</li>
  <li class="list-item">in jpy : {{ "{:,}".format(total_amount_jpy) }}</li>
  <li class="list-item">average exchange rate : {{ "{:,}".format(average_exchange_rate) }}</li>
</ul>
<table class="table">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Amount (USD)</th>
    <th scope="col">Exchange rate</th>
    <th scope="col">Amount (JPY)</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for record in received_money_records %}
    <tr>
      <td>{{record.registered_date}}</td>
      <td>{{ "{:,}".format(record.amount_usd) }}</td>
      <td>{{ "{:,}".format(record.exchange_rate) }}</td>
      <td>{{ "{:,}".format(record.amount_jpy) }}</td>
      <td><a href="/admin/remove_received_money/{{record.id}}" class="btn btn-lg btn-dark"><i class="far fa-trash-alt"></i></a></td>
      <td><a href="/admin/edit_received_money/{{record.id}}" class="btn btn-lg btn-dark"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
